# Ignore node_modules since we'll install inside container
node_modules
npm-debug.log
yarn-error.log

# Build output (we create this fresh inside the container)
build

# Environment files (don’t bake secrets into image)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS / IDE files
.DS_Store
.vscode
.idea
*.swp
